@font-face {
    font-family: 'ptsarif';
    src: url('assets/fonts/ptserif.ttf');

}

@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins.ttf');

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #000;
}


   
   body{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-size: 16px;
   }
   
   
   header h1{
       font-family: "ptsarif";
       font-weight: 700;
       font-size: 2.2rem;
       letter-spacing: -2px;
       margin-top: 1.5em;
       margin-bottom: 1em;
   }
   
   header div h2{
       font-family: "poppins";
       font-size: 1.2rem;
       font-weight: 600;
       margin-bottom: 0.5em;
   }
   
   header div p{
       font-family: "poppins";
       font-size: 1rem;
       margin-bottom: 2em;
   }
   
    .team-gallery{
       display: grid;
       grid-template-columns: auto auto;
       gap: 2em;
   } 
   
   .image-container:nth-child(2n-2){
       position: relative;
       top: 55px;
   }

   .image-container h5 {
    font-size: large;
   }
   
    .image-container{
       display: grid;
       grid-template-columns: auto auto;
       margin-bottom: 3em;
   } 
   
   
   .image-container img {
       width: 150px;
   }
   
   .role-parner{
       font-family: "ptsarif";
       font-size: larger;
       font-size: 0.7rem;
       writing-mode: vertical-lr;
       font-weight: 700;
   }
   
   .image-container h5{
       font-family: "poppins";
       font-weight: 700;
       letter-spacing: -0.8px;
       margin-top: 2px;
       
   }
   
   footer p{
        padding-top: 30px;
        font-family: "poppins";
        font-weight: 900;
        font-size: 0.8rem;
        margin-top: 100px;
   }
   
   
   @media (min-width: 900px){
       header{
           display: flex;
           margin-bottom: 2em;
       }
       header h1{
           width: 50%;
           vertical-align: top;
           margin-top: 0;
       }
       
       header div{
           width: 50%;
       }
   
       header div p{
           width: 70%;
       }
   
       .team-gallery{
           display: grid;
           grid-template-columns: auto auto auto;
           gap: 60px;
       } 
   
       .image-container:nth-child(2){
           position: relative;
           top: 110px;
       }
       .image-container:nth-child(5){
           position: relative;
           top: 150px;
       }
      
   
       .image-container{
           width: 264px;
       }
   
       .image-container img{
           width: 238px;
       }
   
       .role-parner{
           font-size: 0.8rem;
       }

   }
